<div class='hero'>
  {{#with hero}}
    <h1 class='hero_title'>{{title}}</h1>
    <p class='hero_text'>{{description}}</p>
    <a
      class='button'
      href='{{button.url}}'
    >{{button.text}}</a>
  {{/with}}
</div>
<div class='about'>
  <h5 class='about_title'>{{about.heading}}</h5>
  <p class='about_text'>{{about.info}}</p>
</div>
<div class='articles'>
  <div class='article_head'>
    <h4 class='article_title'>Our Articles</h4>
    <a class='article_button' href='#'>View All</a>
  </div>
  {{> OurArticle_card}}
</div>